RewriteEngine On

RewriteBase /SYSTEM_COTI/public/

# Redirigir raíz
RewriteRule ^$ index.php [L]

# Ignorar archivos/carpetas reales
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Enviar todo al router
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
